.sideMenuSection {
	background-color: #333333;
	padding: 2px 2px;
}

.sectionPart{
	background-color: #669999;
	padding: 2px 2px;
}

.sectionLine{
	background-color: #FFFFFF;
}

.sectionTextButton{
	background-color: #6699CC;
	display:block;
	border: 1px solid #FFFFFF;
}
 
 /*
.sectionTextInput{
	background-color: #CCFFFF;
	display: inline;
}

.sectionTextInputUnapplied{
	background-color: #FFFFFF;
}*/

.sectionSmallButton{
	background-color: #6A9999;	
  	outline: none;
  	display:inline-block;
  	border: 1px solid #FFFFFF;
  	opacity:1;
  	margin-left:auto;
 	margin-right:auto;
}

.sectionSmallButton:active{
	background-color: #000066;	
	background-position: left -38px;
	border: 1px solid #ddd;
	height: 32px;
	width: 32px;	
	opacity:1;
}

.sectionSmallButtonDisabled{
	background-color: #333366;	
  	outline: none;
  	display:inline-block;
  	border: 1px solid #FFFFFF;
  	opacity:0.8;
  	margin-left:auto;
 	margin-right:auto;
}
