.sideMenuSection {
	background-color: #333333;
	padding: 2px 2px;
}

.sectionPart{
	background-color: #669999;
	padding: 2px 2px;
}

.sectionLine{
	background-color: #669969;
}

.sectionSmallButton{
	background-color: #6B9909;	
	height: 40px;
	width: 40px;	
}
