/* General site style */

/*used by kineticjs*/
#container {
	background-color: #222;
	display: inline-block;
	width: 800px;
	height: 600px;
	border: 1px dotted #666666;
		float:left;
}

#normalBar {
		/*position: absolute;
		z-index: 40;*/
		
}
#extraBar {
		/*position: relative;
		z-index: 200;*/
}

#sidebar
{
	height: 600px;
	width: 200px;
	border: 1px dotted; 
	float:left;
	background-color: #322;
		/*display:inline-block;*/
}

body
{
  background-color: #CCCCFF;
}